@media (max-width: 1350px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    row-gap: 4rem;

    width: 80%;
    margin: 5rem auto;
  }
}

@media (max-width: 1210px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    row-gap: 6rem;

    width: 70%;
    margin: 5rem auto;
  }
}

@media (max-width: 930px) {
  .card-section {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 6rem;
    row-gap: 6rem;

    width: 70%;
    margin: 5rem auto;
  }
}
